#pied_de_page {
    text-align: center;
    font-weight: bold;
    background-color: rgb(55, 141, 216);
    justify-content: center;
    width: 100%;
    position: fixed;
    display: flex;
    margin-top: 50px;
    left: 0;
    bottom: 0;
}
a {
    color: rgb(0, 0, 0);
}
a.Legal {
    margin: 5px;
}
a.Legal:hover {
    color: white;
}