#title {
    text-align: center;
    height: all;
	width: all;
	color: black;
	font-size: 60px;
    top: 0;
    margin: 0;
    z-index: 2;
}
h2 {
    text-align: center;
    height: 24px;
}
#info {
    text-align: left;
    height: 22px;
}
h3 {
    text-align: center;
    color: red;
    height: 18px;
}