h1 {
    text-align: center;
	color: black;
	font-size: 36px;
}
h2 {
    text-align: center;
    height: 28px;
}
#info {
    text-align: left;
    height: 22px;
}
h3 {
    text-align: center;
    color: red;
    height: 18px;
}